In [2]:
import pandas as pd

In [1]:
# files 폴더의 파일을 읽어 들인 후 조회 하기

In [6]:
df = pd.read_csv("./files/auto-mpg.csv",header=None)
df

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
# 컬럼 설명
# 0 : mpg(연비)
# 1 : cylinders(실린더)
# 2: displacement(배기량)
# 3 : horsepower(엔진출력)
# 4 : weight(중량)
# 5. acceleration(가속)
# 6: model year(연식)
# 7 : origin : 1~3(1:미국,2:유럽,3:일본)
# 8 : name(자동차 이름)

In [10]:
# 컬럼 이름 바꾸기
df.rename(columns={0:'mpg', 1:'cylinders', 2:'displacement',
                   3:'horsepower', 4:'weight',5:'acceleration',6:'model year',
                   7:'origin',8:'name'},inplace=True)

# df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year',
#              'origin','name']

In [13]:
# file_new 폴더 생성
df.to_csv("./file_new/auto-mpg_v1.csv",index=None)